@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/css/About.css" />
</head>
<div class="container mt-5">
    <h1 class="mb-4">Обо мне</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="~/images/uploads/A1WhwnGnpxIo7ZppUNRTAsS8TblqQvvRO9FZNvJiMcQdtwP0hk0sr5Jvhr82Bg1FunviQMkZyJhUfYjRm06oY3Sa.jpg" alt="Ваше фото" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;">
            <p>
                <!-- Краткое описание о себе -->
                Я Егор.
                Я студент 5го курса. Живу в городе Краснодар. Уже больше 3х лет изучаю программирование, пробовал себя в разном начиная с 1С-Предприятие 8.3, заканчивая интересным опытом в Game-Dev.
               
            </p>

            <ul class="list-unstyled">
                <li>
                    <a href="https://github.com/Goga11112" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://vk.com/goga11112" target="_blank">ВКонтакте</a>
                </li>
                <li>
                    <a href="https://t.me/Goga111126" target="_blank">Telegram</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- Описание  своей  деятельности,  проектов,  навыков -->
            <p>
                Сотрудничал с игровой студией The Compass_Game_Studio реализовывали игру в стиле реализма, командная работа и хорошие наставники помогали не опускать руки даже в неудачах.
                Разрабатывал программу на 1C-Предприятие для работы сети салонов красоты.
                В курсе программы в универе разрабатывались программы, в основном коственно касающиеся как такового программирования, но нас познакомили с метадами программирования, то как нужно передавать информацию, организовывать работу и т.д.
            </p>
            <h2>Ключевые  навыки:</h2>
            <ul class="list-unstyled">
                <li>HTML, CSS, JavaScript</li>
                <li>C# (ASP.NET Core)</li>
                <li>Python (Django)</li>
                <li>Базы  данных:  SQL</li>
                <!-- Добавьте   ваши  навыки! -->
            </ul>
        </div>
    </div>
</div>