<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Мое приложение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Мое приложение</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Product" asp-action="About">Об разработчике</a>
                </li>
                <!-- ... другие ссылки на разделы сайта ... -->
            </ul>
        </nav>
    </header>

    <div class="container mt-4">
        @RenderBody()  <!--  <- Сюда будет подставляться контент из других представлений -->
    </div>

    <div class="my-carousel-container">
        <div class="my-carousel-wrapper">
            <!-- Дополнительные вкладки -->
            <div class="my-carousel-container">
                <input type="radio" name="my-slide" id="c1" checked>
                <label for="c1" class="my-carousel-card">
                    <div class="my-carousel-row">
                        <div class="my-carousel-icon">1</div>
                        <div class="my-carousel-description">
                            <h4>Реклама 1</h4>
                            <p>
                                Тут могла быть ваша реклама
                            </p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="my-slide" id="c2">
                <label for="c2" class="my-carousel-card">
                    <div class="my-carousel-row">
                        <div class="my-carousel-icon">2</div>
                        <div class="my-carousel-description">
                            <h4>Реклама 2</h4>
                            <p>
                                И тут она могла быть
                            </p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="my-slide" id="c3">
                <label for="c3" class="my-carousel-card">
                    <div class="my-carousel-row">
                        <div class="my-carousel-icon">3</div>
                        <div class="my-carousel-description">
                            <h4>Реклама 3</h4>
                            <p>Не поверите, но и тут она может быть)</p>
                        </div>
                    </div>
                </label>
                <input type="radio" name="my-slide" id="c4">
                <label for="c4" class="my-carousel-card">
                    <div class="my-carousel-row">
                        <div class="my-carousel-icon">4</div>
                        <div class="my-carousel-description">
                            <h4>Реклама 4</h4>
                            <p>
                                Шок контент...
                            </p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>

   

    <footer class="footer mt-5 py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">© 2024 Goga.ru  -  Все права защищены.</p>
                    <p class="mb-0">Разработано с любовью.</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <ul class="list-unstyled mb-0 d-flex justify-content-md-end">
                        <li><a href="https://vk.com/goga11112" class="mx-2"><i class="fab fa-vk"></i></a></li>
                        <li><a href="https://t.me/Goga111126" class="mx-2"><i class="fab fa-telegram-plane"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)
    @if (!IsSectionDefined("Scripts"))
    {
        IgnoreSection("Scripts");
    }
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
