@model IEnumerable<Web_site1.Domain.Entities.Warehouse>
@{
    ViewData["Title"] = "Склады";
}

<h1>Склады</h1>
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" placeholder="Поиск по имени продукта">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </div>
    </div>
</form>

<p>
    <form asp-controller="Warehouse" asp-action="Create_w" method="post">
        <button type="submit" class="btn btn-primary">Создать склад</button>
    </form>
</p>

<div class="row">
    @foreach (var warehouse in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@warehouse.Name</h5>
                    <p class="card-text">@warehouse.Address</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@warehouse.Id" class="btn btn-outline-secondary">Редактировать</a>
                            <a asp-action="Delete" asp-route-id="@warehouse.Id" class="btn btn-outline-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

